@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,75.7%,.25);
    border-radius: 6px;
    background-clip: padding-box;
    min-height: 28px;
}
body {
    background-color: #f5f5f5;
}
.content {
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
}

/* ----------------------------------------------------- NAVIGATION BAR ----- */

.navbar {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    padding: 25px 0;
    transition: all 0.3s ease;
}
.navbar.sticky {
    padding: 10px 0;
    background-color: #f5f5f5;
    box-shadow: 0 8px 30px #00000010;
}
.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: #171717;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
}
.navbar .menu-list {
    display: inline-flex;
}

.menu-list li {
    list-style: none;
}
.menu-list li a {
    color: #171717;
    font-size: 18px;
    font-weight: 400;
    margin-left: 60px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.menu-list li a:hover {
    color: #1d9ec5;
}

.signin {
    padding: 5px 25px;
    margin: 0 20px;
    border: none;
    font-size: 12px;
    font-weight: 500;
    margin-left: 230px;
    color: #004960;
    cursor: pointer;
    letter-spacing: 1px;
}
.signin:hover {
    background-color: #1d9ec5;
    color: #f5f5f5;
}

/* -------------------------------------------- HOME CONTENT -----*/

.home-content {
    height: 100vh;
    background: f7f7f7;
}
.home-content {
    padding: 0 30px;
    padding-top: 300px;
    max-width: 1250px;
    margin: auto;
    text-align: left;
}
.home-content h1 { 
    font-size: 85px;
    font-weight: 600;
    color: #004960;
}
.home-content h4 {
    font-size: 28px;
    color: #171717;
    font-weight: 600;
}
.home-content p {
    color: #171717dd;
    line-height: 1.9;
    margin-top: 20px;
    font-size: 23px;
    font-weight: 300;
    width: 50%;
}
.home-content .book {
    padding: 15px 50px;
    font-size: 18px;
    margin-top: 40px;
    background-color: #004960;
    border: none;
    color: #f5f5f5;
    cursor: pointer;
}
.home-content .book:hover {
    background-color: #1d9ec5;
    transition: .3s;
}

/* ------------------------------------- ABOUT THE CLINICK -----*/

.about {
    padding: 40px 0;
}
.about .title {
    font-size: 35px;
    font-weight: 700;
}
.about p {
    text-indent: 50px;
    padding-top: 30px;
    text-align: justify;
}

/*------------------------------------- MENU AND CANCEL ICON -----*/

.icon {
    color: #171717;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.icon.cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
    color: #f5f5f5;
}

/*----------------------------------------- HOME SIDE COLOR -----*/

.color {
    width: 30%;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #004960;
    margin: auto;
}

/* ---------------------------------------- HOME IMAGE ----- */

.image {
    position: absolute;
    bottom: 300px;
    left: 1100px;
    cursor: pointer;
}
img {
    height: 400px;
    width: 600px;
}

/* ------------------------------------- LOGIN POPUP WINDOW ----- */

.pop-up {
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 30px 30px;
    background-color: #f5f5f5;
    box-shadow: 0 8px 30px #00000010;
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 200ms;
}
.pop-up.active {
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 200ms;
}
.pop-up .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: #17171700;
    color: #171717;
    border: 2px solid #171717;
    font-weight: 600;
    text-align: center;
    border-radius: 15px;
    line-height: 27px;
    cursor: pointer;
}
.pop-up .form h2 {
    color: #004960;
    margin: 10px 0 50px;
    font-size: 30px;
    line-height: 1.2;
}
.pop-up .form h2 span {
    font-size: 18px;
    font-weight: 400;
    color: #1717177b;
}
.pop-up .form .form-element {
    margin: 20px 0;
}
.pop-up .form .form-element label {
    font-size: 14px;
    color: #171717;
    font-weight: 600;
}
.pop-up .form .form-element input[type="text"],
.pop-up .form .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    background-color: #f5f5f5;
    border-bottom: 1px solid #171717;
}
.pop-up .form .form-element input[type="checkbox"] {
    margin-right: 5px;
}
.pop-up .form .form-element button {
    width: 125px;
    height: 35px;
    margin-left: 90px;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: #004960;
    color: #f5f5f5;
    border-radius: 15px;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 300;
}
.pop-up .form .form-element button:hover {
    background-color: #1d9ec5;
}
.pop-up .form .form-element p {
    display: block;
    text-align: center;
    font-size: 13px;
    color: #171717;
}
.pop-up .form .form-element p a {
    text-decoration: none;
    color: #1d9ec5;
}
.pop-up .form .form-element p a:hover {
    color: #004960;
}

/*------------------------------------------- CLINIC TABLE ----- */

.doc-list, .nearest-clinic {
    font-size: 40px;
    font-weight: 500;
    color: #004960;
    margin-bottom: 50px;
}

.doc-list {
    display: inline;
    position: relative;
    left: 450px;
    top: 250px;
}

.nearest-clinic {
    display: inline;
    position: relative;
    left: 390px;
    top: 250px;
}

table {
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border-collapse: collapse;
    box-shadow: 0 8px 30px #00000010;
    text-align: left;
    overflow: hidden;
    height: 500px;
}

thead {
    box-shadow: 0 1px 50px #8ecfdabf;
}

th {
    color: #f5f5f5;
    background-color: #004960;
    padding: 25px 35px;
    letter-spacing: 1.6px;
    font-size: 22px;
    font-weight: 600;
}

td {
    font-weight: 500;
    padding: 25px 35px;
}

a {
    text-decoration: none;
    color: #004960;
}

.doctor-name , .clinick-name {
    font-size: 18px;
}

.clinick-name:hover, .doctor-name:hover {
    color: #1d9ec5;
}

.get-app , .view-clinic {
    border: none;
    font-size: 14px;
    border-radius: 3px;
    color: #004960;
    border: 1px solid rgba(0, 0, 0, 0.152);
    border-radius: 4px;
    padding: 8px;
    font-weight: 500;
    letter-spacing: 1px;
}

.get-app:hover, .view-clinic:hover {
    transition: .4s;
    color: #f5f5f5;
    border: 1px solid #004960;
    background-color: #004960;
}

/* ------------------------------------------------------------ RESPONSIVE MODE ----- */
/* ------------------------------------------------------------ RESPONSIVE MODE ----- */
/* ------------------------------------------------------------ RESPONSIVE MODE ----- */

            @media (max-width: 868px) {

                /* ----- HOME CONTENT ----- */

                .home-content {
                    padding-top: 150px;
                }
                .home-content h1 {
                    line-height: 2;
                    font-size: 47px;
                }
                .home-content h4 {
                    font-size: 21px;
                }
                .home-content p {
                    width: 100%;
                    font-size: 18px;
                    margin-top: 20px;
                }
                .home-content .book {
                    font-size: 15px;
                }

                .color {
                    display: none;
                }
                .image {
                    display: none;
                }

                /* ----- ICON ----- */

                .icon {
                    display: block;
                }
                .icon.hide {
                    display: none;
                }

                /* ----- NAVIGATION BAR ----- */
                
                .navbar .menu-list {
                    position: fixed;
                    top: 0;
                    left: -100%;
                    height: 100vh;
                    width: 100%;
                    max-width: 400px;
                    background: #004960;
                    display: block;
                    padding: 40px 0;
                    transition: all 0.3s ease;
                }
                .navbar .menu-list input {
                    margin: 60px;
                }
                .navbar .menu-list.active {
                    left: 0;
                }
                .navbar .menu-list li {
                    margin-top: 45px;
                }
                .navbar .menu-list li a {
                    font-size: 18px ;
                    color: #f5f5f5;
                }
                .navbar .menu-list li a:hover {
                    color: #1d9ec5;
                }

                /* ----- TABLE ----- */

                .nearest-clinic, .doc-list {
                    font-size: 30px;
                    left: 45px;
                    top: 160px;
                }
                table {
                    box-shadow: none;
                    justify-content: center;
                    align-items: center;
                    margin-top: 150px;
                    height: 100%;
                    padding: 40px;
                    border-radius: 5px;
                }
                table thead {
                    display: none;
                }
                table, table tbody, table tr, table td {
                    display: block;
                    width: 100%;
                }
                table tr {
                    margin-bottom: 70px;
                }
                table tr {
                    box-shadow: 0 8px 30px #d8dfe1;
                }
                table tbody tr td {
                    text-align: right;
                    padding-left: 40%;
                    position: relative;
                    font-size: 14px;
                }
                table td:before {
                    content: attr(data-label);
                    position: absolute;
                    left: 0;
                    width: 50%;
                    padding-left: 20px;
                    font-weight: 600;
                    font-size: 16px;
                    text-align: left;
                    color: #2D5F74;
                }
                .get-app , .view-clinic {
                    font-size: 12px;
                }
            }
